#tamano{
    padding: 0.2em  0.5em 0.2em 1.5em;
	background-image: url("../../../assets/bed-filter.svg");
	background-repeat: no-repeat;
	background-size: 0.8em auto;
	background-position: 0.4em center;
}