#llegada{
    padding: 0.2em  0.5em 0.2em 1.5em;
	background-image: url("../../../assets/login.svg");
	background-repeat: no-repeat;
	background-size: 0.8em auto;
	background-position: 0.4em center;
}
#salida{
    padding: 0.2em  0.5em 0.2em 1.5em;
	background-image: url("../../../assets/logout.svg");
	background-repeat: no-repeat;
	background-size: 0.8em auto;
	background-position: 0.4em center;
}